
<div class="container">
    <br>
    <div class="row">
        <div class="col-11 text-center">
            <h1 class="display-6">Log In</h1>
            <br>
        </div>
    </div>
    <div class="row">

        <div class="col-3">
        </div>
        
        <div class="col-5 bg-light">
            
            <br>
            <%= form_with url: login_path do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <br>
            <div class="text-center">
            <%= f.submit "Log in", class: "btn btn-dark" %>
            <% end %>
            <br>
             or <br>
            <%= link_to('Login with Google!', '/auth/google_oauth2', method: :post) %>
            <br><br>
            </div>
    
        </div>

    </div>
</div>