<br>
<% if @student.errors.any? %>
        <h5 class="error"><%= @student.errors.full_messages.to_sentence %></h5>
<% end %>

<%=form_with model: student do |f|%>
    <%= f.label "Name: " %>
    <%= f.text_field :name %><br>
    <%= f.label "Degree: " %>
    <%= f.text_field :degree %><br>
    <%= f.label "Email: " %>
    <%= f.text_field :email %><br>
    <%= f.submit %>
<%end%>