<br>
<% if @student.errors.any? %>
        <h5 class="error"><%= @student.errors.full_messages.to_sentence %></h5>
<% end %>

<%=form_with model: student do |f|%>
    <%= f.label "First Name: " %>
    <%= f.text_field :first_name %><br>
    <%= f.label "Last Name: " %>
    <%= f.text_field :last_name %><br>
    <%= f.label "Email: " %>
    <%= f.text_field :email %><br>
    <%= f.submit %>
<%end%>