<br>
<div class="row">
    <div class="col"></div>
    <div class="col text-center">
        <h3>Student's Currently Enrolled</h3>
        <h5 class="text-muted">(with number of classes)</h5>
        
        <br/>
    </div>
    <div class="col text-center">
    <%= form_tag(student_search_path, method: :get) do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search by Name', name: nil %>
    <%end%>
    <br>
    <%=link_to "Add New Student", new_student_path, class: "btn btn-outline-dark btn-sm"%>
    </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-8 bg-light">
    <br>
        <div class="row">
            
            <div class="col"></div>
        
            <div class="col-6">
                <ul class="list-group">
                    <%@students.order_by_abc.each do |student|%>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <%= link_to student.name, student_path(student) %>
                            <span class="badge badge-warning badge-pill"><%=student.enrollments.count%></span>
                        </li>
                    <%end%>
                </ul>
                <br>
            </div>

            <div class="col"></div>
        </div>
    </div>
    <div class="col"></div>
</div>

