
<h3>Student's Profile<h3>
<br/>

<h6>Name: <%=@student.last_first%></h6>
<h6>Degree: <%=@student.degree%></h6>
<h6>Email: <%=@student.email%></h6>


<%if @student.courses.empty?%>
    <h6>Courses: None </h6>
<%else%>
    <h6>Courses: <br/>
    <%@student.enrollments.each do |e|%>
        <h6><%=link_to e.course.subject, lecturer_course_path(e.course.lecturer, e.course)%></h6> 
        <%if e.grade.nil?%>
            <h6>Grade: <%=link_to "None", enrollment_path(e)%></h6>
        <%else%>
            <h6>Grade: <%=link_to e.grade, enrollment_path(e)%></h6>
        <%end%>
    <%end%>
<%end%>

<%= link_to "Edit", edit_student_path(@student), class: "btn btn-outline-primary btn-sm"%>
