
<h3>Student Profile<h3>

<br>
<h6>Name: <%=@student.last_first%></h6>
<h6>Degree: <%=@student.degree%></h6>
<h6>Email: <%=@student.email%></h6>
<%= link_to "Edit Profile", edit_student_path(@student), class: "btn btn-outline-dark btn-sm"%>
<br>
<br>
<%if @student.courses.empty?%>
    <h6>Courses: None </h6>
<%else%>
    <h5>Courses <small class="text-muted">(click grade to edit)</small><h5>
    <%@student.enrollments.each do |e|%>
        <h6><%=link_to e.course.subject, lecturer_course_path(e.course.lecturer, e.course)%></h6> 
        <%if e.grade.nil?%>
            <h6>Grade: <%=link_to "None", enrollment_path(e)%></h6>
        <%else%>
            <h6>Grade: <%=link_to e.grade, enrollment_path(e)%></h6>
        <%end%>
    <%end%>
<%end%>
<br>
<%= link_to "Edit", edit_student_path(@student), class: "btn btn-outline-dark btn-sm"%>
