
<h1>Student's Profile<h1>
<br/>

<p>Name: <%=@student.last_first%></p>
<p>Degree: <%=@student.degree%></p>
<p>Email: <%=@student.email%></p>


<%if @student.courses.empty?%>
    <p>Courses: None </p>
<%else%>
    <p>Courses: <br/>
    <%@student.enrollments.each do |e|%>
        <p><%=link_to e.course.subject, enrollment_path(e)%></p>
        <p>Grade: 
        <%if e.grade.nil?%>
            <p>None</p>
        <%else%>
            <%=e.grade%></p>
        <%end%>
    <%end%>
<%end%>

<%= link_to "Edit", edit_student_path(@student), class: "btn btn-outline-primary btn-sm"%>
