<br>
 <div class="row">
    <div class="col-2"></div>
    <div class="col-2 bg-light"></div>

    <div class = "col bg-light">
        <br>
            <h3>Add/Edit Grade</h3>
            <br/>
            <%= render 'enrollment' %>
            <%=form_with model: @enrollment do |f|%>
                <%=f.label "Grade: "%>
                <%= f.select :grade, ["None", "A", "B", "C", "D", "F", "Incomplete", "Audit"] %><br>
                <%= f.submit %>
            <%end%>
            <br>
    </div>
    <div class="col-1 bg-light"></div>

     <div class="col-2"></div>
</div>