<h4>Course</h4>
<br/>
<div>Subject: <%= @course.subject%></div>
<div>Lecturer: <%= @lecturer.fullname%></div>
<div>Students Enrolled: <%= @course.students.count %></div>

Roll Call:

<%= @course.students.each do |student|%>
    <div><%= link_to student.name, student_path(student) %></div>
<%end%>