<br>
<div class="container">
    <div class="row">
        <div class="col">
            <%if @lecturer == current_lecturer%>
                <h1> Welcome, Professor <%=@lecturer.last_name%>.</h1>
                <%= link_to "Edit Profile", edit_lecturer_path, class: "btn btn-outline-primary btn-sm"%>
            <%else%>
                <h1>Professor <%=@lecturer.fullname%>'s Profile<h1>
            <%end%>
            <br/><br>
        

            Courses: 
            <ol class="list-group list-group-flush">
            <%@lecturer.courses.each do |c|%>
                <li class="list-group-item"> <%=link_to c.subject, lecturer_course_path(@lecturer, c)%> 
                <p>Students Enrolled: <%=c.students.count%></p></li>
            <%end%>
            </ol>

            <br>

            <%if @lecturer == current_lecturer%>
                <%= link_to "New Course", new_lecturer_course_path(@lecturer), class: "btn btn-outline-primary btn-sm"%>
            <%end%>
        </div>
    </div>
</div>
