<!DOCTYPE html>
<html>
  <head>
    <title>RoleCallForTeachers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%# <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Roll Call</a>
    </nav> %>
    <nav class="navbar navbar-expand-lg sticky_top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Roll Call</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%if logged_in?%>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/lecturers/<%=current_lecturer.id%>">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
          <li class="nav-item">
            <%= link_to("Logout", logout_path, method: :delete, class: "nav-link") %>
              <%# <a class="nav-link" href="/logout">Logout</a> %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>

  <body>
    <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>

    <%= yield %>
    
  </body>
  
</html>
